{% extends "testnr/layout.html" %}

{% block body %}
    <h1 class="overskrift">NR regnskap</h1>
    <h2 class="overskrift">{{ tilbakemelding }}</h2>
    <input type="text" id="søkefelt" placeholder="Søk her" >
    <div class="animasjonsBox">
        
        
            <div class="container" >
            
                
                <div class="list">
                    <h2>Velg Legemiddel</h2>
                    
                    <ul>
                    
                        
                        {% for legemiddel in lager %}
                        <li >
                            
                                <a href="legemiddel/{{ legemiddel.preparat }}">
                                    <span id="navn">
                                        {{ legemiddel.preparat }}
                                    </span>
                                </a>
                            
                      
                        </li>
                        {% endfor %}
                        
                    </ul>
                </div>
                
        

            </div>

    </div>
    
{% endblock %}

