{% extends "testnr/layout.html" %}

{% block body %}
    <h1 id="overskrift">NR regnskappppp</h1>
    <input type="text" id="søkefelt" placeholder="Søk her" >
    <div class="animasjonsBox">
        
        
            <div id="container">
                <!--
                <ul id="legemiddelListe" class="legemiddelVelger">
                    {% for legemiddel in legemiddler %}
                        <li class="legemiddelVelger">
                            <div class="legemiddelVelger" >
                                <a class="legemiddelVelger" href="legemiddel/{{ legemiddel }}">
                                    <p id="navn">
                                        {{ legemiddel }}
                                    </p>
                                </a>
                            </div>
                      
                        </li>
                    {% endfor %}
             
                </ul>
                -->
                <div class="list">
                    <h2>Velg Legemiddel</h2>
                    <ul>
                        {% for legemiddel in legemiddler %}
                        <li >
                            
                                <a href="legemiddel/{{ legemiddel }}">
                                    <span id="navn">
                                        {{ legemiddel.capitalize }}
                                    </span>
                                </a>
                            
                      
                        </li>
                        {% endfor %}
                        
                    </ul>
                    </div>
        
        

            </div>
            
    </div>
    
{% endblock %}

